/* Estilos para el navbar activo */
.navbar-nav .nav-link.active {
    color: #ffc107 !important;
    /* Amarillo */
    font-weight: bold;
}

.navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #ffc107;
}

/* Efecto hover opcional */
.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    transition: color 0.3s ease;
}

/* Posición relativa para el pseudo-elemento */
.navbar-nav .nav-link {
    position: relative;
}