<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{componentes/head.html}"></head>

<body>
    <div th:replace="~{componentes/navbar.html}"></div>

    <!-- Contenido principal -->
    <main class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="p-5 bg-light rounded shadow text-center mb-5">
                    <h2>Bienvenido, Restaurant "El Sabor de Marcona"</h2>
                    <p><strong>Tu rol es:</strong> <span th:text="${rol}"></span></p>
                    <p><strong>Usuario:</strong> <span th:text="${usuario}"></span></p>
                </div>
            </div>
        </div>
    </main>
</body>

<div th:replace="~{componentes/footer.html}"></div>

</html>