    <footer class="footer mt-auto py-3 bg-dark text-center text-white" th:fragment="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-2 mb-md-0">
                    <span>&copy; 2025 Sabor de Marcona. Todos los derechos reservados.</span>
                </div>
                <div class="col-md-6">
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
                </div>
            </div>
        </div>
    </footer>
